[Unit]
Description=Ambient Player Web Server
After=network.target

[Service]
Type=simple
User=USER
WorkingDirectory=/PATH/ambient_player
ExecStart=/PATH/ambient_player/start.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
